# NCCS Datafile exploration and summary analysis

In [1]:
import pandas as pd
import numpy as np
import os
import io
import requests

## Early data exploration, comparing 1989 with 90, 95, 00, 05, 10, 15

In [2]:
# read in 1989 file to get a sense of what the earliest dataset is like, and see how it compares with more recent sets
# eventually we'll loop through every NCCS file

root = "https://nccs-data.urban.org/data/bmf/"
file = "1989/bmf.bmf89.csv"

nccs_990_df = pd.read_csv(root+file, low_memory=False)
nccs_990_df.head()

,EIN,NAME,CITY,STATE,ZIP,SUBSECCD,ZIP5,MSA_NECH,PMSA,fipsold,...,Income,stateOld1,zip5Old1,cityOld1,NteeOldB,Ntee2007a,Confidence2007a,RandNum,nteeFinal,nteeFinal1
0,10024155,BANGOR BAND,BANGOR,ME,04401-5828,3.0,4401,733.0,NaN,NaN,...,0,ME,4401,BANGOR,Z99,A6C,A,0.36818,A6C,A
1,10024645,BANGOR SYMPHONY ORCHESTRA,BANGOR,ME,04401-1441,3.0,4401,733.0,NaN,NaN,...,0,ME,4401,BANGOR,Z99,A69,A,0.54812,A69,A
2,10078060,HENRIETTA D GOODALL HOSPITAL INC,SANFORD,ME,04073-2621,3.0,4073,NaN,NaN,NaN,...,0,ME,4073,SANFORD,Z99,E22,A,0.63606,E22,E
3,10130427,NORTHERN CUMBERLAND MEMORIAL HOSPITAL,BRIDGETON,ME,04009-0000,3.0,4009,6403.0,NaN,NaN,...,0,ME,4009,BRIDGETON,Z99,E22,A,0.53593,E22,E
4,10131950,OLD FOLKS HOME IN BATH,BATH,ME,04530-1697,3.0,4530,NaN,NaN,NaN,...,0,ME,4530,BATH,Z99,A80,C,0.77148,A80,A

In [3]:
nccs_990_df_1989 = nccs_990_df
display(nccs_990_df_1989.columns)

Index(['EIN', 'NAME', 'CITY', 'STATE', 'ZIP', 'SUBSECCD', 'ZIP5', 'MSA_NECH',
       'PMSA', 'fipsold', 'FIPS', 'FNDNCD', 'ORGCD', 'ORGTYPCD', 'v_errorCd',
       'FILER', 'NTEECC', 'NteeCC4d', 'NTEEconf', 'NTEE1', 'LEVEL1', 'LEVEL2',
       'LEVEL3', 'LEVEL4', 'MAJGRPB', 'OUTNCCS', 'OUTREAS', 'NTEESRC',
       'ntmaj10', 'ntmaj12', 'ntmaj5', 'Assets', 'Income', 'stateOld1',
       'zip5Old1', 'cityOld1', 'NteeOldB', 'Ntee2007a', 'Confidence2007a',
       'RandNum', 'nteeFinal', 'nteeFinal1'],
      dtype='object')

### Comparing with 1995

In [4]:
file_1995 = "1995/bmf.bm9508.csv"

nccs_990_df_1995 = pd.read_csv(root+file_1995, low_memory=False)
nccs_990_df_1995.head()

,EIN,NAME,SEC_NAME,CITY,STATE,RULEDATE,FNDNCD,SUBSECCD,Assets,Income,...,czFiler,stateOld1,zip5Old1,cityOld1,NteeOldB,Ntee2007a,Confidence2007a,RandNum,nteeFinal,nteeFinal1
0,42306054,AMERICAN COLLEGE OF GREECE,NaN,GREECE,FO,6402,11,3,58712843,29457788,...,N,FO,0,GREECE,B42,Q30,A,0.66065,Q30,Q
1,42738718,COMITE INTERNATIONAL DE LIAISON DU CORPS POUR ...,IMENTATION CILCA,PUEBLA MEXICO,FO,8609,15,3,161797,134563,...,N,FO,0,PUEBLA MEXICO,Q33,Q33,B,0.30774,Q33,Q
2,116018910,CLARA NEWMAN MEMORIAL FUND,NaN,ISAREL,FO,6805,4,3,196,95,...,N,FO,0,ISAREL,Z99,T20,B,0.55675,T20,T
3,116039909,TORAH ORE SEMINARY RECHOV PANIM MEIROT KIRYAT ...,ERSDORF,ISRAEL,FO,8009,11,3,437814,1973765,...,N,FO,0,ISRAEL,B50,B50,A,0.86052,B50,B
4,131837426,WORLD LEISURE & RECREATION ASSOCIATION INC,NaN,CANADA,FO,5911,16,3,19081,113775,...,N,FO,0,CANADA,A99,N31,A,0.63238,A99,A

### Comparing with 2000

In [5]:
file_2000 = "2000/bmf.bm0005.csv"

nccs_990_df_2000 = pd.read_csv(root+file_2000, low_memory=False)
nccs_990_df_2000.head()

,EIN,NAME,SEC_NAME,CITY,STATE,SUBSECCD,RULEDATE,FNDNCD,Assets,Income,...,cityOld1,fipsold,NteeOldB,Ntee2007a,Confidence2007a,RandNum,accper,nteeFinal,nteeFinal1,NAICS
0,42306054,AMERICAN COLLEGE OF GREECE,NaN,GREECE,FO,3,196402,11,108157841,39125002,...,GREECE,NaN,B42,Q30,A,0.43417,6,Q30,Q,NaN
1,42738718,COMITE INTERNATIONAL DE LIAISON DU CORPS POUR ...,NaN,PUEBLA MEXICO,FO,3,198609,15,0,0,...,PUEBLA MEXICO,NaN,Q33,Q33,B,0.43149,12,Q33,Q,NaN
2,43216739,INTERNATIONAL STEPS FOUNDATION INC,NaN,GREECE,FO,3,199407,15,0,0,...,GREECE,NaN,A20,A20,B,0.85494,12,A20,A,NaN
3,46860657,PHILIP L AND CAROLE M LOWE FOUNDATION CHARITAB...,NaN,GRAND CAYMAN,FO,3,199805,4,0,0,...,GRAND CAYMAN,NaN,T90,T22,A,0.98025,3,T22,T,NaN
4,60706038,BERMUDA BIOLOGICAL STATION FOR RESEARCH INC,NaN,BERMUDA,FO,3,194710,16,0,0,...,BERMUDA,NaN,U50,U50,B,0.33643,12,U50,U,NaN

### Comparing with 2005, July

In [6]:
file_2005 = "2005/bmf.bm0507.csv"

nccs_990_df_2005 = pd.read_csv(root+file_2005, low_memory=False)
nccs_990_df_2005.head()

,EIN,FIPS,MSA,PMSA,NTEECC,NTEECC4d,NTEEconf,FILER,zFiler,NAME,...,Confidence2007a,RandNum,cAssets,cTotRev,cTaxPer,cFinSrc,cFiler,czFiler,nteeFinal,nteeFinal1
0,9345,15001.0,NaN,NaN,G81,NaN,A,N,N,SHAWKA SOCIETY OF HAWAIIS AWARE WOMEN KOMBATTI...,...,A,0.12275,NaN,NaN,NaN,NaN,N,N,G81,G
1,19818,25013.0,8000.0,NaN,X21,NaN,A,N,N,SECOND BAPTIST CHURCH,...,A,0.55405,NaN,NaN,NaN,NaN,N,N,X21,X
2,20587,29229.0,NaN,NaN,B03,NaN,A,N,N,INTERNATIONAL READING ASSOCIATION INC,...,A,0.40202,NaN,NaN,NaN,NaN,N,N,B03,B
3,29215,25025.0,1122.0,1120.0,X99,NaN,C,N,N,ST GEORGE CATHEDRAL,...,C,0.34797,NaN,NaN,NaN,NaN,N,N,X99,X
4,38065,41051.0,6442.0,6440.0,T31,NaN,A,N,N,LGBTQ COMMUNITY CENTER FUND,...,A,0.53377,NaN,NaN,NaN,NaN,N,N,T31,T

### Comparing with 2010, July

In [7]:
file_2010 = "2010/bmf.bm1007.csv"

nccs_990_df_2010 = pd.read_csv(root+file_2010, low_memory=False)
nccs_990_df_2010.head()

,EIN,FIPS,NTEECC,FILER,ZFILER,NAME,ADDRESS,CITY,STATE,ZIP5,...,EPOST,FISYR_IMAGE,cFiler,czFiler,cTaxPer,cAssets,cTotRev,cFinSrc,IRS990n,NAICS
0,19818,25013,X21,N,N,SECOND BAPTIST CHURCH,1050 THORNDIKE ST,PALMER,MA,1069,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,2.0,813110.0
1,29215,25025,X99,N,N,ST GEORGE CATHEDRAL,523 E BROADWAY,SOUTH BOSTON,MA,2127,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,2.0,813110.0
2,100514,30021,N61,N,N,DAWSON COUNTY ROD & GUN CLUB,312 COOKE ST,GLENDIVE,MT,59330,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,0.0,713990.0
3,107893,09013,S80,N,N,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,204 OLD SPRINGFIELD RD,STAFFORD SPGS,CT,6076,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,NaN,813410.0
4,260049,12077,X21,N,N,CORINTH BAPTIST CHURCH,PO BOX 92,HOSFORD,FL,32334,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,2.0,813110.0

### Comparing with 2015, July

In [8]:
file_2015 = "2015/bmf.bm1507.csv"

nccs_990_df_2015 = pd.read_csv(root+file_2015, low_memory=False)
nccs_990_df_2015.head()

,EIN,FIPS,NTEECC,FILER,ZFILER,NAME,ADDRESS,CITY,STATE,ZIP5,...,cFiler,czFiler,cTaxPer,cAssets,cTotRev,cFinSrc,EPOST,FISYR_IMAGE,IRS990n,NAICS
0,3154,51710.0,C36,N,N,OAKLEAF FOREST TENANT MANAGEMENT,1706 GREENLEAF DR,NORFOLK,VA,23523,...,N,N,NaN,NaN,NaN,NaN,Z,NaN,0,813312.0
1,19818,25013.0,X21,N,N,PALMER SECOND BAPTIST CHURCH,1050 THORNDIKE ST,PALMER,MA,1069,...,N,N,NaN,NaN,NaN,NaN,Z,NaN,0,813110.0
2,29215,25025.0,X20,N,N,ST GEORGE CATHEDRAL,523 E BROADWAY,SOUTH BOSTON,MA,2127,...,N,N,NaN,NaN,NaN,NaN,Z,NaN,0,813110.0
3,260049,12077.0,X21,N,N,CORINTH BAPTIST CHURCH,PO BOX 92,HOSFORD,FL,32334,...,N,N,NaN,NaN,NaN,NaN,Z,NaN,0,813110.0
4,490336,12051.0,X21,N,N,EASTSIDE BAPTIST CHURCH,PO BOX 296,LABELLE,FL,33975,...,N,N,NaN,NaN,NaN,NaN,Z,NaN,0,813110.0

In [9]:
frames = (nccs_990_df_1989,nccs_990_df_1995,nccs_990_df_2000,nccs_990_df_2005,nccs_990_df_2010,nccs_990_df_2015)

display(nccs_990_df_1989.columns)
display(nccs_990_df_1995.columns)
display(nccs_990_df_2000.columns)
display(nccs_990_df_2005.columns)
display(nccs_990_df_2010.columns)
display(nccs_990_df_2015.columns)

for df in frames:

    display(df.head())

Index(['EIN', 'NAME', 'CITY', 'STATE', 'ZIP', 'SUBSECCD', 'ZIP5', 'MSA_NECH',
       'PMSA', 'fipsold', 'FIPS', 'FNDNCD', 'ORGCD', 'ORGTYPCD', 'v_errorCd',
       'FILER', 'NTEECC', 'NteeCC4d', 'NTEEconf', 'NTEE1', 'LEVEL1', 'LEVEL2',
       'LEVEL3', 'LEVEL4', 'MAJGRPB', 'OUTNCCS', 'OUTREAS', 'NTEESRC',
       'ntmaj10', 'ntmaj12', 'ntmaj5', 'Assets', 'Income', 'stateOld1',
       'zip5Old1', 'cityOld1', 'NteeOldB', 'Ntee2007a', 'Confidence2007a',
       'RandNum', 'nteeFinal', 'nteeFinal1'],
      dtype='object')

Index(['EIN', 'NAME', 'SEC_NAME', 'CITY', 'STATE', 'RULEDATE', 'FNDNCD',
       'SUBSECCD', 'Assets', 'Income', 'ZIP5', 'FIPS', 'PMSA', 'MSA_NECH',
       'NTEECC', 'NteeCC4d', 'NTEEconf', 'NTEE1', 'LEVEL1', 'LEVEL2', 'LEVEL3',
       'LEVEL4', 'MAJGRPB', 'OUTNCCS', 'OUTREAS', 'NTEESRC', 'ntmaj10',
       'ntmaj12', 'ntmaj5', 'FILER', 'zFiler', 'NteeDraft', 'MSA', 'cAssets',
       'cTotRev', 'cTaxPer', 'cFinSrc', 'cFiler', 'czFiler', 'stateOld1',
       'zip5Old1', 'cityOld1', 'NteeOldB', 'Ntee2007a', 'Confidence2007a',
       'RandNum', 'nteeFinal', 'nteeFinal1'],
      dtype='object')

Index(['EIN', 'NAME', 'SEC_NAME', 'CITY', 'STATE', 'SUBSECCD', 'RULEDATE',
       'FNDNCD', 'Assets', 'Income', 'ZIP5', 'FIPS', 'PMSA', 'MSA_NECH',
       'NTEECC', 'NteeCC4d', 'NTEEconf', 'NTEE1', 'LEVEL1', 'LEVEL2', 'LEVEL3',
       'LEVEL4', 'MAJGRPB', 'OUTNCCS', 'OUTREAS', 'NTEESRC', 'ntmaj10',
       'ntmaj12', 'ntmaj5', 'FILER', 'zFiler', 'cAssets', 'cTotRev', 'cTaxPer',
       'cFinSrc', 'cFiler', 'czFiler', 'stateOld1', 'zip5Old1', 'cityOld1',
       'fipsold', 'NteeOldB', 'Ntee2007a', 'Confidence2007a', 'RandNum',
       'accper', 'nteeFinal', 'nteeFinal1', 'NAICS'],
      dtype='object')

Index(['EIN', 'FIPS', 'MSA', 'PMSA', 'NTEECC', 'NTEECC4d', 'NTEEconf', 'FILER',
       'zFiler', 'NAME', 'SEC_NAME', 'CITY', 'STATE', 'ZIP5', 'SUBSECCD',
       'RULEDATE', 'FNDNCD', 'accper', 'Assets', 'Income', 'NTEE1', 'LEVEL1',
       'LEVEL2', 'LEVEL3', 'LEVEL4', 'MAJGRPB', 'OUTNCCS', 'OUTREAS',
       'NTEESRC', 'ntmaj10', 'ntmaj12', 'ntmaj5', 'NteeDraft', 'stateOld1',
       'zip5Old1', 'cityOld1', 'NteeOldB', 'Ntee2007a', 'Confidence2007a',
       'RandNum', 'cAssets', 'cTotRev', 'cTaxPer', 'cFinSrc', 'cFiler',
       'czFiler', 'nteeFinal', 'nteeFinal1'],
      dtype='object')

Index(['EIN', 'FIPS', 'NTEECC', 'FILER', 'ZFILER', 'NAME', 'ADDRESS', 'CITY',
       'STATE', 'ZIP5', 'GEN', 'SUBSECCD', 'RULEDATE', 'FNDNCD', 'TAXPER',
       'FRCD', 'ACCPER', 'ASSETS', 'INCOME', 'SEC_NAME', 'NTEE1', 'LEVEL1',
       'LEVEL2', 'LEVEL3', 'LEVEL4', 'MAJGRPB', 'OUTNCCS', 'OUTREAS',
       'NTEESRC', 'ntmaj10', 'ntmaj12', 'ntmaj5', 'nteeFinal', 'nteeFinal1',
       'RandNum', 'nteeConf', 'MSA_NECH', 'PMSA', 'LATITUDE', 'LONGITUDE',
       'GEOCD', 'geoExclude', 'GeoCode', 'EPOST', 'FISYR_IMAGE', 'cFiler',
       'czFiler', 'cTaxPer', 'cAssets', 'cTotRev', 'cFinSrc', 'IRS990n',
       'NAICS'],
      dtype='object')

Index(['EIN', 'FIPS', 'NTEECC', 'FILER', 'ZFILER', 'NAME', 'ADDRESS', 'CITY',
       'STATE', 'ZIP5', 'GEN', 'SUBSECCD', 'RULEDATE', 'FNDNCD', 'TAXPER',
       'FRCD', 'PFFRCD', 'ACCPER', 'ASSETS', 'INCOME', 'SEC_NAME', 'NTEE1',
       'LEVEL1', 'LEVEL2', 'LEVEL3', 'LEVEL4', 'MAJGRPB', 'OUTNCCS', 'OUTREAS',
       'NTEESRC', 'ntmaj10', 'ntmaj12', 'ntmaj5', 'nteeFinal', 'nteeFinal1',
       'RandNum', 'nteeConf', 'MSA_NECH', 'PMSA', 'cFiler', 'czFiler',
       'cTaxPer', 'cAssets', 'cTotRev', 'cFinSrc', 'EPOST', 'FISYR_IMAGE',
       'IRS990n', 'NAICS'],
      dtype='object')

,EIN,NAME,CITY,STATE,ZIP,SUBSECCD,ZIP5,MSA_NECH,PMSA,fipsold,...,Income,stateOld1,zip5Old1,cityOld1,NteeOldB,Ntee2007a,Confidence2007a,RandNum,nteeFinal,nteeFinal1
0,10024155,BANGOR BAND,BANGOR,ME,04401-5828,3.0,4401,733.0,NaN,NaN,...,0,ME,4401,BANGOR,Z99,A6C,A,0.36818,A6C,A
1,10024645,BANGOR SYMPHONY ORCHESTRA,BANGOR,ME,04401-1441,3.0,4401,733.0,NaN,NaN,...,0,ME,4401,BANGOR,Z99,A69,A,0.54812,A69,A
2,10078060,HENRIETTA D GOODALL HOSPITAL INC,SANFORD,ME,04073-2621,3.0,4073,NaN,NaN,NaN,...,0,ME,4073,SANFORD,Z99,E22,A,0.63606,E22,E
3,10130427,NORTHERN CUMBERLAND MEMORIAL HOSPITAL,BRIDGETON,ME,04009-0000,3.0,4009,6403.0,NaN,NaN,...,0,ME,4009,BRIDGETON,Z99,E22,A,0.53593,E22,E
4,10131950,OLD FOLKS HOME IN BATH,BATH,ME,04530-1697,3.0,4530,NaN,NaN,NaN,...,0,ME,4530,BATH,Z99,A80,C,0.77148,A80,A

,EIN,NAME,SEC_NAME,CITY,STATE,RULEDATE,FNDNCD,SUBSECCD,Assets,Income,...,czFiler,stateOld1,zip5Old1,cityOld1,NteeOldB,Ntee2007a,Confidence2007a,RandNum,nteeFinal,nteeFinal1
0,42306054,AMERICAN COLLEGE OF GREECE,NaN,GREECE,FO,6402,11,3,58712843,29457788,...,N,FO,0,GREECE,B42,Q30,A,0.66065,Q30,Q
1,42738718,COMITE INTERNATIONAL DE LIAISON DU CORPS POUR ...,IMENTATION CILCA,PUEBLA MEXICO,FO,8609,15,3,161797,134563,...,N,FO,0,PUEBLA MEXICO,Q33,Q33,B,0.30774,Q33,Q
2,116018910,CLARA NEWMAN MEMORIAL FUND,NaN,ISAREL,FO,6805,4,3,196,95,...,N,FO,0,ISAREL,Z99,T20,B,0.55675,T20,T
3,116039909,TORAH ORE SEMINARY RECHOV PANIM MEIROT KIRYAT ...,ERSDORF,ISRAEL,FO,8009,11,3,437814,1973765,...,N,FO,0,ISRAEL,B50,B50,A,0.86052,B50,B
4,131837426,WORLD LEISURE & RECREATION ASSOCIATION INC,NaN,CANADA,FO,5911,16,3,19081,113775,...,N,FO,0,CANADA,A99,N31,A,0.63238,A99,A

,EIN,NAME,SEC_NAME,CITY,STATE,SUBSECCD,RULEDATE,FNDNCD,Assets,Income,...,cityOld1,fipsold,NteeOldB,Ntee2007a,Confidence2007a,RandNum,accper,nteeFinal,nteeFinal1,NAICS
0,42306054,AMERICAN COLLEGE OF GREECE,NaN,GREECE,FO,3,196402,11,108157841,39125002,...,GREECE,NaN,B42,Q30,A,0.43417,6,Q30,Q,NaN
1,42738718,COMITE INTERNATIONAL DE LIAISON DU CORPS POUR ...,NaN,PUEBLA MEXICO,FO,3,198609,15,0,0,...,PUEBLA MEXICO,NaN,Q33,Q33,B,0.43149,12,Q33,Q,NaN
2,43216739,INTERNATIONAL STEPS FOUNDATION INC,NaN,GREECE,FO,3,199407,15,0,0,...,GREECE,NaN,A20,A20,B,0.85494,12,A20,A,NaN
3,46860657,PHILIP L AND CAROLE M LOWE FOUNDATION CHARITAB...,NaN,GRAND CAYMAN,FO,3,199805,4,0,0,...,GRAND CAYMAN,NaN,T90,T22,A,0.98025,3,T22,T,NaN
4,60706038,BERMUDA BIOLOGICAL STATION FOR RESEARCH INC,NaN,BERMUDA,FO,3,194710,16,0,0,...,BERMUDA,NaN,U50,U50,B,0.33643,12,U50,U,NaN

,EIN,FIPS,MSA,PMSA,NTEECC,NTEECC4d,NTEEconf,FILER,zFiler,NAME,...,Confidence2007a,RandNum,cAssets,cTotRev,cTaxPer,cFinSrc,cFiler,czFiler,nteeFinal,nteeFinal1
0,9345,15001.0,NaN,NaN,G81,NaN,A,N,N,SHAWKA SOCIETY OF HAWAIIS AWARE WOMEN KOMBATTI...,...,A,0.12275,NaN,NaN,NaN,NaN,N,N,G81,G
1,19818,25013.0,8000.0,NaN,X21,NaN,A,N,N,SECOND BAPTIST CHURCH,...,A,0.55405,NaN,NaN,NaN,NaN,N,N,X21,X
2,20587,29229.0,NaN,NaN,B03,NaN,A,N,N,INTERNATIONAL READING ASSOCIATION INC,...,A,0.40202,NaN,NaN,NaN,NaN,N,N,B03,B
3,29215,25025.0,1122.0,1120.0,X99,NaN,C,N,N,ST GEORGE CATHEDRAL,...,C,0.34797,NaN,NaN,NaN,NaN,N,N,X99,X
4,38065,41051.0,6442.0,6440.0,T31,NaN,A,N,N,LGBTQ COMMUNITY CENTER FUND,...,A,0.53377,NaN,NaN,NaN,NaN,N,N,T31,T

,EIN,FIPS,NTEECC,FILER,ZFILER,NAME,ADDRESS,CITY,STATE,ZIP5,...,EPOST,FISYR_IMAGE,cFiler,czFiler,cTaxPer,cAssets,cTotRev,cFinSrc,IRS990n,NAICS
0,19818,25013,X21,N,N,SECOND BAPTIST CHURCH,1050 THORNDIKE ST,PALMER,MA,1069,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,2.0,813110.0
1,29215,25025,X99,N,N,ST GEORGE CATHEDRAL,523 E BROADWAY,SOUTH BOSTON,MA,2127,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,2.0,813110.0
2,100514,30021,N61,N,N,DAWSON COUNTY ROD & GUN CLUB,312 COOKE ST,GLENDIVE,MT,59330,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,0.0,713990.0
3,107893,09013,S80,N,N,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,204 OLD SPRINGFIELD RD,STAFFORD SPGS,CT,6076,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,NaN,813410.0
4,260049,12077,X21,N,N,CORINTH BAPTIST CHURCH,PO BOX 92,HOSFORD,FL,32334,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,2.0,813110.0

,EIN,FIPS,NTEECC,FILER,ZFILER,NAME,ADDRESS,CITY,STATE,ZIP5,...,cFiler,czFiler,cTaxPer,cAssets,cTotRev,cFinSrc,EPOST,FISYR_IMAGE,IRS990n,NAICS
0,3154,51710.0,C36,N,N,OAKLEAF FOREST TENANT MANAGEMENT,1706 GREENLEAF DR,NORFOLK,VA,23523,...,N,N,NaN,NaN,NaN,NaN,Z,NaN,0,813312.0
1,19818,25013.0,X21,N,N,PALMER SECOND BAPTIST CHURCH,1050 THORNDIKE ST,PALMER,MA,1069,...,N,N,NaN,NaN,NaN,NaN,Z,NaN,0,813110.0
2,29215,25025.0,X20,N,N,ST GEORGE CATHEDRAL,523 E BROADWAY,SOUTH BOSTON,MA,2127,...,N,N,NaN,NaN,NaN,NaN,Z,NaN,0,813110.0
3,260049,12077.0,X21,N,N,CORINTH BAPTIST CHURCH,PO BOX 92,HOSFORD,FL,32334,...,N,N,NaN,NaN,NaN,NaN,Z,NaN,0,813110.0
4,490336,12051.0,X21,N,N,EASTSIDE BAPTIST CHURCH,PO BOX 296,LABELLE,FL,33975,...,N,N,NaN,NaN,NaN,NaN,Z,NaN,0,813110.0

In [10]:
col_names = nccs_990_df_1989.columns
col_num = len(nccs_990_df_1989.columns)
org_num = len(nccs_990_df_1989)
states_num = nccs_990_df_1989['STATE'].nunique()
assets_total = nccs_990_df_1989['Assets'].sum()
income_total = nccs_990_df_1989['Income'].sum()


summary = {'keys' : ["Columns (#)", "Organizations (#)", "Regions", "Total Assets","Total Income"],
            'values' : [col_num, org_num, states_num, assets_total, income_total]
             }

summary_df = pd.DataFrame(summary)
display(summary_df)
display('')
display(nccs_990_df_1989.columns)

                keys  values
0        Columns (#)      42
1  Organizations (#)  664441
2            Regions      63
3       Total Assets       0
4       Total Income       0

''

Index(['EIN', 'NAME', 'CITY', 'STATE', 'ZIP', 'SUBSECCD', 'ZIP5', 'MSA_NECH',
       'PMSA', 'fipsold', 'FIPS', 'FNDNCD', 'ORGCD', 'ORGTYPCD', 'v_errorCd',
       'FILER', 'NTEECC', 'NteeCC4d', 'NTEEconf', 'NTEE1', 'LEVEL1', 'LEVEL2',
       'LEVEL3', 'LEVEL4', 'MAJGRPB', 'OUTNCCS', 'OUTREAS', 'NTEESRC',
       'ntmaj10', 'ntmaj12', 'ntmaj5', 'Assets', 'Income', 'stateOld1',
       'zip5Old1', 'cityOld1', 'NteeOldB', 'Ntee2007a', 'Confidence2007a',
       'RandNum', 'nteeFinal', 'nteeFinal1'],
      dtype='object')

In [384]:
filename = ['nccs_990_df_1989',
            'nccs_990_df_1995',
            'nccs_990_df_2000',
            'nccs_990_df_2005',
            'nccs_990_df_2010',
            'nccs_990_df_2015']

col_names = []
col_num = []
org_num = []
states_num = []
assets_total = []
income_total = []
file_year = []

for df in frames:
    df.columns = map(str.lower, df.columns)
    names = df.columns
    variables = len(df.columns)
    org_types = df['ntee1'].nunique() 
    sub_types = df['subseccd'].nunique() 
    length = '{0:,.0f}'.format(len(df))
    regions = df['state'].nunique()
    assets = '${0:,.2f}'.format(df['assets'].sum()/100000000)
    income = '${0:,.2f}'.format(df['income'].sum()/100000000)

    col_names.append(names)
    col_num.append(variables)
    org_num.append(length)
    states_num.append(regions)
    assets_total.append(assets)
    income_total.append(income) 

for file in filename:
    year = file.split("_")
    file_year.append(year[3]) 
    
summary = {"990 SOI Year":file_year,
           "Variables":col_num,
           "Organizations (#)":org_num,
           "Org Types":org_types,
           "Sub Sec. Types":sub_types,
           "Regions":states_num,
           "Total Assets (B)":assets_total,
           "Total Income (B)":income_total
             }

summary_df = pd.DataFrame(summary)
display(summary_df)

# col_89 = []
# col_95 = []
# col_00 = []
# col_05 = []
# col_10 = []
# col_15 = []

,990 SOI Year,Variables,Organizations (#),Org Types,Sub Sec. Types,Regions,Total Assets (B),Total Income (B)
0,1989,42,"664,441",26,34,63,$0.00,$0.00
1,1995,48,"1,069,152",26,34,63,"$14,954.01","$11,233.33"
2,2000,49,"1,215,053",26,34,63,"$21,915.15","$13,973.60"
3,2005,48,"1,407,079",26,34,62,"$28,420.80","$20,353.57"
4,2010,53,"1,603,211",26,34,63,"$41,089.76","$29,658.20"
5,2015,49,"1,545,625",26,34,62,"$54,950.19","$37,707.35"

In [385]:
annual_dfs = []

for yr in file_year:
    display(yr)

for headers in col_names:

    summary_dict = {"Column_Names" : headers}
    names_df = pd.DataFrame(summary_dict)
#     display(names_df)
    annual_dfs.append(names_df)
    
for df in annual_dfs:
    display(df)
    
#  names_df["Year"] = yr 
# names_as_columns = pd.DataFrame(names_df.unstack())
# names_as_columns

'1989'

'1995'

'2000'

'2005'

'2010'

'2015'

       Column_Names
0               ein
1              name
2              city
3             state
4               zip
5          subseccd
6              zip5
7          msa_nech
8              pmsa
9           fipsold
10             fips
11           fndncd
12            orgcd
13         orgtypcd
14        v_errorcd
15            filer
16           nteecc
17         nteecc4d
18         nteeconf
19            ntee1
20           level1
21           level2
22           level3
23           level4
24          majgrpb
25          outnccs
26          outreas
27          nteesrc
28          ntmaj10
29          ntmaj12
30           ntmaj5
31           assets
32           income
33        stateold1
34         zip5old1
35         cityold1
36         nteeoldb
37        ntee2007a
38  confidence2007a
39          randnum
40        nteefinal
41       nteefinal1

       Column_Names
0               ein
1              name
2          sec_name
3              city
4             state
5          ruledate
6            fndncd
7          subseccd
8            assets
9            income
10             zip5
11             fips
12             pmsa
13         msa_nech
14           nteecc
15         nteecc4d
16         nteeconf
17            ntee1
18           level1
19           level2
20           level3
21           level4
22          majgrpb
23          outnccs
24          outreas
25          nteesrc
26          ntmaj10
27          ntmaj12
28           ntmaj5
29            filer
30           zfiler
31        nteedraft
32              msa
33          cassets
34          ctotrev
35          ctaxper
36          cfinsrc
37           cfiler
38          czfiler
39        stateold1
40         zip5old1
41         cityold1
42         nteeoldb
43        ntee2007a
44  confidence2007a
45          randnum
46        nteefinal
47       nteefinal1

       Column_Names
0               ein
1              name
2          sec_name
3              city
4             state
5          subseccd
6          ruledate
7            fndncd
8            assets
9            income
10             zip5
11             fips
12             pmsa
13         msa_nech
14           nteecc
15         nteecc4d
16         nteeconf
17            ntee1
18           level1
19           level2
20           level3
21           level4
22          majgrpb
23          outnccs
24          outreas
25          nteesrc
26          ntmaj10
27          ntmaj12
28           ntmaj5
29            filer
30           zfiler
31          cassets
32          ctotrev
33          ctaxper
34          cfinsrc
35           cfiler
36          czfiler
37        stateold1
38         zip5old1
39         cityold1
40          fipsold
41         nteeoldb
42        ntee2007a
43  confidence2007a
44          randnum
45           accper
46        nteefinal
47       nteefinal1
48            naics

       Column_Names
0               ein
1              fips
2               msa
3              pmsa
4            nteecc
5          nteecc4d
6          nteeconf
7             filer
8            zfiler
9              name
10         sec_name
11             city
12            state
13             zip5
14         subseccd
15         ruledate
16           fndncd
17           accper
18           assets
19           income
20            ntee1
21           level1
22           level2
23           level3
24           level4
25          majgrpb
26          outnccs
27          outreas
28          nteesrc
29          ntmaj10
30          ntmaj12
31           ntmaj5
32        nteedraft
33        stateold1
34         zip5old1
35         cityold1
36         nteeoldb
37        ntee2007a
38  confidence2007a
39          randnum
40          cassets
41          ctotrev
42          ctaxper
43          cfinsrc
44           cfiler
45          czfiler
46        nteefinal
47       nteefinal1

   Column_Names
0           ein
1          fips
2        nteecc
3         filer
4        zfiler
5          name
6       address
7          city
8         state
9          zip5
10          gen
11     subseccd
12     ruledate
13       fndncd
14       taxper
15         frcd
16       accper
17       assets
18       income
19     sec_name
20        ntee1
21       level1
22       level2
23       level3
24       level4
25      majgrpb
26      outnccs
27      outreas
28      nteesrc
29      ntmaj10
30      ntmaj12
31       ntmaj5
32    nteefinal
33   nteefinal1
34      randnum
35     nteeconf
36     msa_nech
37         pmsa
38     latitude
39    longitude
40        geocd
41   geoexclude
42      geocode
43        epost
44  fisyr_image
45       cfiler
46      czfiler
47      ctaxper
48      cassets
49      ctotrev
50      cfinsrc
51      irs990n
52        naics

   Column_Names
0           ein
1          fips
2        nteecc
3         filer
4        zfiler
5          name
6       address
7          city
8         state
9          zip5
10          gen
11     subseccd
12     ruledate
13       fndncd
14       taxper
15         frcd
16       pffrcd
17       accper
18       assets
19       income
20     sec_name
21        ntee1
22       level1
23       level2
24       level3
25       level4
26      majgrpb
27      outnccs
28      outreas
29      nteesrc
30      ntmaj10
31      ntmaj12
32       ntmaj5
33    nteefinal
34   nteefinal1
35      randnum
36     nteeconf
37     msa_nech
38         pmsa
39       cfiler
40      czfiler
41      ctaxper
42      cassets
43      ctotrev
44      cfinsrc
45        epost
46  fisyr_image
47      irs990n
48        naics

# Attempt to read in all CSVs for summary data

In [404]:
# read in 1989 file to get a sense of what the earliest dataset is like, and see how it compares with more recent sets
# eventually we'll loop through every NCCS file

nccs_links = pd.read_csv('nccs_datafile_links.csv')
url = nccs_links['link']

nccs_990_df_test = pd.read_csv(url[0], low_memory=False)
nccs_990_df_test.head()

# root = "https://nccs-data.urban.org/data/bmf/"
# file = "1989/bmf.bmf89.csv"

,EIN,NAME,CITY,STATE,ZIP,SUBSECCD,ZIP5,MSA_NECH,PMSA,fipsold,...,Income,stateOld1,zip5Old1,cityOld1,NteeOldB,Ntee2007a,Confidence2007a,RandNum,nteeFinal,nteeFinal1
0,10024155,BANGOR BAND,BANGOR,ME,04401-5828,3.0,4401,733.0,NaN,NaN,...,0,ME,4401,BANGOR,Z99,A6C,A,0.36818,A6C,A
1,10024645,BANGOR SYMPHONY ORCHESTRA,BANGOR,ME,04401-1441,3.0,4401,733.0,NaN,NaN,...,0,ME,4401,BANGOR,Z99,A69,A,0.54812,A69,A
2,10078060,HENRIETTA D GOODALL HOSPITAL INC,SANFORD,ME,04073-2621,3.0,4073,NaN,NaN,NaN,...,0,ME,4073,SANFORD,Z99,E22,A,0.63606,E22,E
3,10130427,NORTHERN CUMBERLAND MEMORIAL HOSPITAL,BRIDGETON,ME,04009-0000,3.0,4009,6403.0,NaN,NaN,...,0,ME,4009,BRIDGETON,Z99,E22,A,0.53593,E22,E
4,10131950,OLD FOLKS HOME IN BATH,BATH,ME,04530-1697,3.0,4530,NaN,NaN,NaN,...,0,ME,4530,BATH,Z99,A80,C,0.77148,A80,A

In [ ]:
# get the NCCS link from the CSV
nccs_links = pd.read_csv('nccs_datafile_links.csv')
filename = []
yrmth = []
yearmonth = []
dataframes = {}

# Begin loop to read in each url
for url in nccs_links['link']:
    str_arr = url.split('/')
    yr_mth = str_arr[6].split('.bm')
    year_month = yr_mth[1].split('.')
    file_name = f'nccs_990_df_{str_arr[5]}_{year_month}'
    filename.append(file_name)
    yrmth.append(yr_mth)
    yearmonth.append(year_month[0])
    
for file in filename:
    df_name_testr = file
    dataframes[df_name_testr] = pd.read_csv(url, low_memory=False)

display(dataframes[df_name_testr[0]].head())

In [ ]:
# filename = ['nccs_990_df_1989',
#             'nccs_990_df_1995',
#             'nccs_990_df_2000',
#             'nccs_990_df_2005',
#             'nccs_990_df_2010',
#             'nccs_990_df_2015']

# col_names = []
# col_num = []
# org_num = []
# states_num = []
# assets_total = []
# income_total = []
# file_year = []

# for df in frames:
#     df.columns = map(str.lower, df.columns)
#     names = df.columns
#     variables = len(df.columns)
#     org_types = df['ntee1'].nunique() 
#     sub_types = df['subseccd'].nunique() 
#     length = '{0:,.0f}'.format(len(df))
#     regions = df['state'].nunique()
#     assets = '${0:,.2f}'.format(df['assets'].sum()/100000000)
#     income = '${0:,.2f}'.format(df['income'].sum()/100000000)

#     col_names.append(names)
#     col_num.append(variables)
#     org_num.append(length)
#     states_num.append(regions)
#     assets_total.append(assets)
#     income_total.append(income) 

# for file in filename:
#     year = file.split("_")
#     file_year.append(year[3]) 
    
# summary = {"990 SOI Year":file_year,
#            "Variables":col_num,
#            "Organizations (#)":org_num,
#            "Org Types":org_types,
#            "Sub Sec. Types":sub_types,
#            "Regions":states_num,
#            "Total Assets (B)":assets_total,
#            "Total Income (B)":income_total
#              }

# summary_df = pd.DataFrame(summary)
# display(summary_df)