# NCCS Datafile exploration and summary analysis

In [1]:
import pandas as pd
import numpy as np
import os
import io
import requests

## Early data exploration, comparing 1989 with 90, 95, 00, 05, 10, 15

In [2]:
# read in 1989 file to get a sense of what the earliest dataset is like, and see how it compares with more recent sets
# eventually we'll loop through every NCCS file

root = "https://nccs-data.urban.org/data/bmf/"
file = "1989/bmf.bmf89.csv"

nccs_990_df = pd.read_csv(root+file, low_memory=False)
nccs_990_df.head()

,EIN,NAME,CITY,STATE,ZIP,SUBSECCD,ZIP5,MSA_NECH,PMSA,fipsold,...,Income,stateOld1,zip5Old1,cityOld1,NteeOldB,Ntee2007a,Confidence2007a,RandNum,nteeFinal,nteeFinal1
0,10024155,BANGOR BAND,BANGOR,ME,04401-5828,3.0,4401,733.0,NaN,NaN,...,0,ME,4401,BANGOR,Z99,A6C,A,0.36818,A6C,A
1,10024645,BANGOR SYMPHONY ORCHESTRA,BANGOR,ME,04401-1441,3.0,4401,733.0,NaN,NaN,...,0,ME,4401,BANGOR,Z99,A69,A,0.54812,A69,A
2,10078060,HENRIETTA D GOODALL HOSPITAL INC,SANFORD,ME,04073-2621,3.0,4073,NaN,NaN,NaN,...,0,ME,4073,SANFORD,Z99,E22,A,0.63606,E22,E
3,10130427,NORTHERN CUMBERLAND MEMORIAL HOSPITAL,BRIDGETON,ME,04009-0000,3.0,4009,6403.0,NaN,NaN,...,0,ME,4009,BRIDGETON,Z99,E22,A,0.53593,E22,E
4,10131950,OLD FOLKS HOME IN BATH,BATH,ME,04530-1697,3.0,4530,NaN,NaN,NaN,...,0,ME,4530,BATH,Z99,A80,C,0.77148,A80,A

In [3]:
nccs_990_df_1989 = nccs_990_df
display(nccs_990_df_1989.columns)

Index(['EIN', 'NAME', 'CITY', 'STATE', 'ZIP', 'SUBSECCD', 'ZIP5', 'MSA_NECH',
       'PMSA', 'fipsold', 'FIPS', 'FNDNCD', 'ORGCD', 'ORGTYPCD', 'v_errorCd',
       'FILER', 'NTEECC', 'NteeCC4d', 'NTEEconf', 'NTEE1', 'LEVEL1', 'LEVEL2',
       'LEVEL3', 'LEVEL4', 'MAJGRPB', 'OUTNCCS', 'OUTREAS', 'NTEESRC',
       'ntmaj10', 'ntmaj12', 'ntmaj5', 'Assets', 'Income', 'stateOld1',
       'zip5Old1', 'cityOld1', 'NteeOldB', 'Ntee2007a', 'Confidence2007a',
       'RandNum', 'nteeFinal', 'nteeFinal1'],
      dtype='object')

### Comparing with 1995

In [4]:
file_1995 = "1995/bmf.bm9508.csv"

nccs_990_df_1995 = pd.read_csv(root+file_1995, low_memory=False)
nccs_990_df_1995.head()

,EIN,NAME,SEC_NAME,CITY,STATE,RULEDATE,FNDNCD,SUBSECCD,Assets,Income,...,czFiler,stateOld1,zip5Old1,cityOld1,NteeOldB,Ntee2007a,Confidence2007a,RandNum,nteeFinal,nteeFinal1
0,42306054,AMERICAN COLLEGE OF GREECE,NaN,GREECE,FO,6402,11,3,58712843,29457788,...,N,FO,0,GREECE,B42,Q30,A,0.66065,Q30,Q
1,42738718,COMITE INTERNATIONAL DE LIAISON DU CORPS POUR ...,IMENTATION CILCA,PUEBLA MEXICO,FO,8609,15,3,161797,134563,...,N,FO,0,PUEBLA MEXICO,Q33,Q33,B,0.30774,Q33,Q
2,116018910,CLARA NEWMAN MEMORIAL FUND,NaN,ISAREL,FO,6805,4,3,196,95,...,N,FO,0,ISAREL,Z99,T20,B,0.55675,T20,T
3,116039909,TORAH ORE SEMINARY RECHOV PANIM MEIROT KIRYAT ...,ERSDORF,ISRAEL,FO,8009,11,3,437814,1973765,...,N,FO,0,ISRAEL,B50,B50,A,0.86052,B50,B
4,131837426,WORLD LEISURE & RECREATION ASSOCIATION INC,NaN,CANADA,FO,5911,16,3,19081,113775,...,N,FO,0,CANADA,A99,N31,A,0.63238,A99,A

### Comparing with 2000

In [ ]:
file_2000 = "2000/bmf.bm0005.csv"

nccs_990_df_2000 = pd.read_csv(root+file_2000, low_memory=False)
nccs_990_df_2000.head()

,EIN,NAME,SEC_NAME,CITY,STATE,SUBSECCD,RULEDATE,FNDNCD,Assets,Income,...,cityOld1,fipsold,NteeOldB,Ntee2007a,Confidence2007a,RandNum,accper,nteeFinal,nteeFinal1,NAICS
0,42306054,AMERICAN COLLEGE OF GREECE,NaN,GREECE,FO,3,196402,11,108157841,39125002,...,GREECE,NaN,B42,Q30,A,0.43417,6,Q30,Q,NaN
1,42738718,COMITE INTERNATIONAL DE LIAISON DU CORPS POUR ...,NaN,PUEBLA MEXICO,FO,3,198609,15,0,0,...,PUEBLA MEXICO,NaN,Q33,Q33,B,0.43149,12,Q33,Q,NaN
2,43216739,INTERNATIONAL STEPS FOUNDATION INC,NaN,GREECE,FO,3,199407,15,0,0,...,GREECE,NaN,A20,A20,B,0.85494,12,A20,A,NaN
3,46860657,PHILIP L AND CAROLE M LOWE FOUNDATION CHARITAB...,NaN,GRAND CAYMAN,FO,3,199805,4,0,0,...,GRAND CAYMAN,NaN,T90,T22,A,0.98025,3,T22,T,NaN
4,60706038,BERMUDA BIOLOGICAL STATION FOR RESEARCH INC,NaN,BERMUDA,FO,3,194710,16,0,0,...,BERMUDA,NaN,U50,U50,B,0.33643,12,U50,U,NaN

### Comparing with 2005, July

In [ ]:
file_2005 = "2005/bmf.bm0507.csv"

nccs_990_df_2005 = pd.read_csv(root+file_2005, low_memory=False)
nccs_990_df_2005.head()

,EIN,FIPS,MSA,PMSA,NTEECC,NTEECC4d,NTEEconf,FILER,zFiler,NAME,...,Confidence2007a,RandNum,cAssets,cTotRev,cTaxPer,cFinSrc,cFiler,czFiler,nteeFinal,nteeFinal1
0,9345,15001.0,NaN,NaN,G81,NaN,A,N,N,SHAWKA SOCIETY OF HAWAIIS AWARE WOMEN KOMBATTI...,...,A,0.12275,NaN,NaN,NaN,NaN,N,N,G81,G
1,19818,25013.0,8000.0,NaN,X21,NaN,A,N,N,SECOND BAPTIST CHURCH,...,A,0.55405,NaN,NaN,NaN,NaN,N,N,X21,X
2,20587,29229.0,NaN,NaN,B03,NaN,A,N,N,INTERNATIONAL READING ASSOCIATION INC,...,A,0.40202,NaN,NaN,NaN,NaN,N,N,B03,B
3,29215,25025.0,1122.0,1120.0,X99,NaN,C,N,N,ST GEORGE CATHEDRAL,...,C,0.34797,NaN,NaN,NaN,NaN,N,N,X99,X
4,38065,41051.0,6442.0,6440.0,T31,NaN,A,N,N,LGBTQ COMMUNITY CENTER FUND,...,A,0.53377,NaN,NaN,NaN,NaN,N,N,T31,T

### Comparing with 2010, July

In [ ]:
file_2010 = "2010/bmf.bm1007.csv"

nccs_990_df_2010 = pd.read_csv(root+file_2010, low_memory=False)
nccs_990_df_2010.head()

,EIN,FIPS,NTEECC,FILER,ZFILER,NAME,ADDRESS,CITY,STATE,ZIP5,...,EPOST,FISYR_IMAGE,cFiler,czFiler,cTaxPer,cAssets,cTotRev,cFinSrc,IRS990n,NAICS
0,19818,25013,X21,N,N,SECOND BAPTIST CHURCH,1050 THORNDIKE ST,PALMER,MA,1069,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,2.0,813110.0
1,29215,25025,X99,N,N,ST GEORGE CATHEDRAL,523 E BROADWAY,SOUTH BOSTON,MA,2127,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,2.0,813110.0
2,100514,30021,N61,N,N,DAWSON COUNTY ROD & GUN CLUB,312 COOKE ST,GLENDIVE,MT,59330,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,0.0,713990.0
3,107893,09013,S80,N,N,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,204 OLD SPRINGFIELD RD,STAFFORD SPGS,CT,6076,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,NaN,813410.0
4,260049,12077,X21,N,N,CORINTH BAPTIST CHURCH,PO BOX 92,HOSFORD,FL,32334,...,Z,NaN,N,N,NaN,NaN,NaN,NaN,2.0,813110.0

### Comparing with 2015, July

In [ ]:
file_2015 = "2015/bmf.bm1507.csv"

nccs_990_df_2015 = pd.read_csv(root+file_2015, low_memory=False)
nccs_990_df_2015.head()

In [ ]:
frames = (nccs_990_df_1989,nccs_990_df_1995,nccs_990_df_2000,nccs_990_df_2005,nccs_990_df_2010,nccs_990_df_2015)


display(nccs_990_df_1989.columns)
display(nccs_990_df_1995.columns)
display(nccs_990_df_2000.columns)
display(nccs_990_df_2005.columns)
display(nccs_990_df_2010.columns)
display(nccs_990_df_2015.columns)

for df in frames:

    display(df.head())

In [ ]:
col_names = nccs_990_df_1989.columns
col_num = len(nccs_990_df_1989.columns)
org_num = len(nccs_990_df_1989)
states_num = nccs_990_df_1989['STATE'].nunique()
assets_total = nccs_990_df_1989['Assets'].sum()
income_total = nccs_990_df_1989['Income'].sum()


summary = {'keys' : ["Columns (#)", "Organizations (#)", "Regions", "Total Assets","Total Income"],
            'values' : [col_num, org_num, states_num, assets_total, income_total]
             }

summary_df = pd.DataFrame(summary)
display(summary_df)
display('')
display(nccs_990_df_1989.columns)

In [ ]:
col_names = []
col_num = []
org_num = []
states_num = []
assets_total = []
income_total = []

for dfs in frames:
    df = dfs.apply(lambda x: x.astype(str).str.lower())
    names = df.columns
    variables = len(df.columns)
    length = len(df)
    regions = df['state'].nunique()
    assets = df['assets'].sum()
    income = df['income'].sum()  
    
    
    col_names.append(names)
    col_num.append(variables)
    org_num.append(length)
    states_num.append(regions)
    assets_total.append(assets)
    income_total.append(income) 



summary = {'keys' : ["Columns (#)", "Organizations (#)", "Regions", "Total Assets","Total Income"],
            'values' : [col_num, org_num, states_num, assets_total, income_total]
             }

summary_df = pd.DataFrame(summary)
display(summary_df)
display('')
display(nccs_990_df_1989.columns)

### Loop through Datafile Year summary info for a quick glance on changes across years

In [ ]:
# df_root = "nccs_990_df_"
# test_years = [1989, 1995, 2000, 2005, 2010, 2015]
# tester = []
# df_set = dict()
# df_set['filenames'] = []

# num_columns = []
# num_orgs = []
# num_states = []

# for i in test_years:
    
#     tester = f"{df_root}{i}"
#     display(tester.columns)
#     print(tester)
#     df_set['filenames'].append(tester)
    
#     for file, df in df_set.items(): 
        
#         display(df['filenames'].columns)
        
# #         num_columns.append(i.columns)
# # #         num_orgs.append(len(i))
# # #         num_states.append(i.columns)
        
        
# # #         df_set_summary = pd.DataFrame({ })

# print(df_set)
# df_set[1].columns